{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    Blog Home - Start Bootstrap Template
{% endblock title %}

{% block content %}
    <h1 class="my-4">{{ 'title' | trans }}</h1>

    {% for course in courses %}
        <!-- Blog Post -->
        <div class="card mb-4">
            <img class="card-img-top" src="{{ asset(course.thumbnail) }}" alt="{{ course.title }}">
            <div class="card-body">
                <h2 class="card-title">{{ course.title }}</h2>
                <p class="card-text">{{ course.description }}</p>
                <a href="{{ path('course_edit', {"id": course.id}) }}" class="btn btn-warning btn-xs pull-left">Edit</a>
                {% if is_granted('delete', course) %}
                    <form action="{{ path('course_delete') }}" method="POST">
                        <input type="hidden" name="course_id" value="{{ course.id }}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token('delete_course') }}">
                        <button class="btn btn-danger btn-xs pull-right">Delete</button>
                    </form>
                {% endif %}
            </div>
            <div class="card-footer text-muted">
                Posted on {{ course.postedAt | date('d/m/Y') }} by
                <a href="#">{{ course.author.username }}</a>
            </div>
        </div>
    {% endfor %}

    <!-- Pagination -->
    {#<ul class="pagination justify-content-center mb-4">
        <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
        </li>
    </ul>#}
{% endblock  content %}